.border{
    border-right: 1px solid black ;
    border-bottom: 1px solid black;
}
#product1{
    height: 220px;
    width: 200px;
    /* border: 1px solid black; */
    /* display: flex; */
    float: left;
    margin: 10px;
}
#product1 img{
    height: 120px;
    width: 200px;
    
}
#nameProduct1{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#price1{
    text-align: center;
}
#buy1{
    margin-left: 85px; 
}

#product2 {
    height: 220px;
    width: 200px;
    /* border: 2px solid black; */
    /* display: flex; */
    float: left;
    margin: 10px;
}

#product2 img {
    height: 120px;
    width: 200px;

}
#nameProduct2 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#price2 {
    text-align: center;
}

#buy2 {
    margin-left: 85px;
}

#product3 {
    height: 220px;
    width: 200px;
    /* border: 2px solid black; */
    /* display: flex; */
    float: left;
    margin: 10px;
}

#product3 img {
    height: 120px;
    width: 200px;

}
#nameProduct3 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#price3 a {
    padding-left: 59px;
    list-style-type: none;
    text-decoration: none;
}

#buy3 {
    margin-left: 85px;
}

#product4 {
    height: 220px;
    width: 200px;
    /* border: 2px solid black; */
    /* display: flex; */
    float: left;
    margin: 10px;
}

#product4 img {
    height: 120px;
    width: 200px;

}
#nameProduct4 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#price4 a {
    padding-left: 59px;
    list-style-type: none;
    text-decoration: none;
}

#buy4 {
    margin-left: 85px;
}
#total{
    height: 50px;
    width: 50px;
}
